header {
    background-color: #212529;

}


/* ##### MY CLASSES#####  */
.my_h25 {
    height: 250px;
}

.my_h30 {
    height: 300px;
}

.my_h10 {
    height: 100px;
}

.ms_rounded{
    border-radius: 25px;
}



.ms_bg-light-green {
    background-color: #1ABC9C;
}

.ms_green {
    color: #1ABC9C;
}

.white {
    color: #fafafa;
}

.star {
    position: relative;

}


/* #####stella##### */
.star i {
    font-size: 1.5rem;

}

.star .line::before {
    position: absolute;
    top: 8px;
    right: 35px;
    content: '';
    width: 210%;
    height: 3px;
    background-color: white;
    font-weight: bolder;
}

.star .line::after {
    position: absolute;
    top: 8px;
    left: 35px;
    content: '';
    width: 210%;
    height: 3px;
    background-color: white;
}

.star .line-black::before {
    position: absolute;
    top: 8px;
    right: 35px;
    content: '';
    width: 210%;
    height: 3px;
    background-color: black;
    font-weight: bolder;
}

.star .line-black::after {
    position: absolute;
    top: 8px;
    left: 35px;
    content: '';
    width: 210%;
    height: 3px;
    background-color: black;
}

/* fine stella  */


/* FORM ####  */

.group {
    position: relative;
    width: 100%;
    margin: auto;



}

input {
    font-size: 18px;
    display: block;
    width: 95%;
    border: none;
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

input:focus {
    outline: none;
}

textarea {
    font-size: 18px;
    display: block;
    width: 95%;
    border: none;
    padding-top: 10px;
    border-bottom: 1px solid lightgray;
}

textarea:focus {
    outline: none;
}

::-webkit-input-placeholder {
    /* Edge */
    color: black;
    text-transform: uppercase;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: black;
    text-transform: uppercase;
}

::placeholder {
    color: black;
    text-transform: uppercase;
}

/* ##### FINE FORM##### */

